html
  head
  body
    h1= 'Chapters'
  ul
    for section in sections
      br
      li
        string #{section.sectionName}
          ul
            for chapter in section.sectionChapters
              li
                a(href='/chapter/'+chapter.chapterNum) Chapter #{chapter.chapterNum}: #{chapter.name}
